@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: 'Oxygen';
  src: url("../fonts/Oxygen-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@import "./common/variables";
@import "./common/mixins";
@import "./common/global";

@import "./common/Buttons";

@import "./Header";
@import "./Banner";
@import "./Skills";
@import "./Timeline";